

main {
    // border: 2px solid green;
    .about {
        // border: 2px solid green;
        @include section;
        color: $secondary-color;
        padding-top: 40px;
        // min-height: 84.2vh;
        margin-top: 10vh;
        padding-bottom: 40px;

        h2 {
            @include subheading;
        }
        p {
            font-size: 1.1rem;
            word-spacing: 7px;
            font-weight: lighter;
        }

        &__mission {
            margin-top: 30px;
            // background-color: $alternate-background;
        }

        &__vision {
            margin-top: 30px;

        }
    }
}